    :root {
        --accent-color: #4D5AE5;
        --color: #2e2f42;
        --add-color: #434455;
        --light-color: #ffffff;
        --ligft-ir-color: #F4F4FD;
        --iris-color: #404BBF;
    }

    .body {
        font-family: "Roboto", sans-serif;
        color: #434455;
        background-color: #F4F4FD;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .page-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    main {
        flex-grow: 1;
    }

    .container {
        width: 100%;
        max-width: 1440px;
        /*height: 100%;
        max-height: 72px;*/
        /* padding-right: 156px;
        padding-left: 156px;*/
        margin: 0 auto;
        outline: 2px solid red;
    }

    /*!-------скидання стилів--------*/
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 0;
    }

    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    img .link {
        text-decoration: none;
        display: block;
    }

    .list {
        list-style-type: none;
    }

    .title {
        color: var(--color);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }

    .subtitle {
        color: var(--color);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .button {
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
    }

    /*----------------HEADER----------------*/
    .header {
        /*padding: 24px 156px;*/
        border-bottom: 1px solid #e7e9fc;
    }

    .header-container {
        width: 1158px;
        padding: 0 15px
            /* padding-top: 24px;
        padding-bottom: 24px;*/
            /* height: 100%;*/
            max-height: 72px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        /*gap: 332px;*/
        justify-content: space-between;
    }

    .logo {
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
    }

    .header-logo-link {
        color: var(--accent-color);
    }

    .logo-accent {
        color: var(--color);
    }

    .header-navigation {
        display: flex;
        flex-grow: 1;
        gap: 76px;
        align-items: center;
        padding: 24px 0;
    }

    .header-menu {
        display: flex;
        gap: 40px;
    }

    .header-menu-link {
        color: var(--color);
    }

    .header-menu-link:hover,
    .header-menu-link:focus {
        color: var(--iris-color);
    }

    .header-adress {
        font-style: normal;
        /* display: flex;*/
    }

    .header-contacts {
        display: flex;
        gap: 40px;
    }

    .header-contacts-link {
        color: var(--add-color);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .header-contacts-link:hover,
    .header-contacts-link:focus {
        color: var(--iris-color);
    }

    /*!------------------------HERO------------------*/
    .hero {
        background-color: var(--color);
        /* padding: 188px 472px 292px;*/
        padding: 188px 0;
    }

    .hero-title {
        color: var(--light-color);
        max-width: 496px;
        height: 120px;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin: 0 auto;
        margin-bottom: 48px;
    }

    .hero-button {
        display: block;
        min-width: 169px;
        height: 56px;
        padding: 16px 32px;
        color: var(--light-color);
        background-color: var(--accent-color);
        border: none;
        border-radius: 4px;
        margin: 0 auto;
        align-items: center;
    }

    .hero-button:hover,
    .hero-button:focus {
        background-color: var(--iris-color);
    }

    /**-------------ADVANAGES---------------*/
    .advantages {
        padding: 120px 0;
    }

    .advantages-container {
        /* margin: 120px 156px;*/
        display: flex;
        /* max-width: 1440px;*/
    }

    .advantages-list {
        /* margin: 120px 156px;*/
        display: flex;
        gap: 24px;
    }

    .advantages-item {
        width: calc((100% - 24px * 3) / 4);
    }

    .advantages-subtitle {
        max-height: 24px;
        margin-bottom: 8px;
    }

    .advantages-item-text {
        color: var(--add-color);
        max-height: 72px;
    }

    /*!-----------------------DOING------------------*/
    .doing {
        padding-bottom: 120px;
    }

    .doing-container {
        max-width: 1400px;
        padding: 120px 156px;
    }

    .doing-title {
        max-width: 324px;
        margin: 0 auto;
        margin-bottom: 72px;
    }

    .doing-list {
        display: flex;
        gap: 24px;
    }

    .doing-item {
        width: calc((100% - 48px) / 3);
        border: 1px solid orange;
    }

    .doing-img {}

    /*----------------TEAM----------------*/
    .team-container {
        padding: 120px 156px;
        /*display: flex;
        max-width: 1440px;*/
    }

    .team {
        background-color: var(--ligft-ir-color);
        padding: 120px 0;
    }

    .team-title {
        max-width: 300px;
        /* display: flex;
        flex-wrap: wrap;*/
        margin: 0 auto;
        margin-bottom: 72px;
    }

    .team-list {
        display: flex;
        /* flex-wrap: wrap;*/
        gap: 24px;
    }

    .team-item {
        display: flex;
        flex-direction: column;
        width: calc((100% - 3 * 24px) / 4);
        background-color: var(--light-color);
        border-radius: 0px 0px 4px 4px;
    }

    team-fio-container {
        padding: 32px 16px;
    }

    .team-img {}

    .team-subtitle {
        /*margin-top: 32px;*/
        padding-top: 32px;
        margin: 0 auto;
    }

    .team-subtile-text {
        /* border: 2px solid #4D5AE5;*/
        padding-bottom: 32px;
        margin: 0 auto;
        /*flex-direction: column;
        justify-content: center;
        align-items: center;*/
        color: var(--add-color);
    }

    /*?----------------FOOTER---------------*/
    .footer {
        background-color: var(--color);
        padding: 100px 0;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 100px 156px;
    }

    .logo-accent.light {
        color: var(--ligft-ir-color);
    }

    .footter-logo-link {
        color: var(--accent-color);
        display: inline-block;
    }

    .footer-text {
        max-width: 264px;
        color: var(--ligft-ir-color);
    }

    /*?-----------------PORTFOLIO----------------*/
    .porfolio {
        padding-top: 96px;
        padding-bottom: 120px;
    }

    .porfolio-container {
        /*display: flex;*/
        padding: 96px 156px 120px;
    }

    .porfolio-list-nav {
        display: flex;
        justify-content: center;
        margin-bottom: 72px;
        gap: 24px;
        padding: 12px 24px;
        max-height: 48px;
    }

    .portfolio-nav-item {
        width: calc((100% - 48px * 2) / 3);
    }

    .porfolio-button {
        color: var(--accent-color);
        background-color: var(--ligft-ir-color);
        padding: 12px 24px;
        border: 1px solid #e7e9fc;
        border-radius: 4px;
    }

    .porfolio-button:hover,
    .porfolio-button:focus {
        color: var(--light-color);
        background-color: var(--iris-color);
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .porfolio-button.light {}

    .portfolio-list-card {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 48px;
    }

    .portfolio-card-container {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
        margin-bottom: 8px;
    }

    .portfolio-card-item {
        display: flex;
        flex-direction: column;
        width: calc((100% -48px) / 3);
    }

    .portfolio-card-title {
        color: var(--color);
        font-size: 20px;
        margin: 0 auto;
        padding-top: 32px;

        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .portfolio-card-link {}

    .portfolio-card-subtitle {
        color: var(--add-color);
        padding-bottom: 32px;
    }

    .portfolio-subile-link {}